<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" >

        <div class="navbar-header">
            <a class="navbar-brand" ng-hide="user"  href="#!/"> TCS</a>
            <a class="navbar-brand" href="#!/homeCustomer"  ng-show="user">
                <i class="material-icons" style="padding-top: 10%">home</i>
            </a>

        </div>



        <ul class="nav navbar-nav navbar-right" >

            <div class="dropdown" ng-show="user">
                <md-button ><img src="img/tl.png" height="30px" width="30px"/></md-button>
                <div class="dropdown-content">
                    <a href="#!/createTrafficLight">New</a>
                    <a href="#!/showAllTrafficLights">Show All</a>
                </div>
            </div>

            <div class="dropdown" ng-show="user" >
                <md-button ><i ng-click="" class="material-icons" style="padding-top: 10%">person</i></md-button>
                <div class="dropdown-content" ng-model="utente">
                    <a href="">Profile</a>
                    <a href="">Modify Account</a>
                    <a ng-controller="ctrlCust" value="logout" ng-click="logout()">Sign out</a>
                </div>
            </div>




        </ul>
    </div>
</nav>
<div ng-controller="ctrlLogin" style="padding-left:20%;padding-top: 3%">
<div class="jumbotron" style="background-color:white ;opacity: 0.90;width: 75%;height: 15%; padding-left: 20%">


    <md-content layout-padding style="background-color: white" >
        <form name="loginForm" style="color: #1d2124" >


            <div layout="row">
                <md-input-container >
                    <label style="font-size: large">Username</label>
                    <input ng-required="true"  ng-minlength="3" style="width: 400px" name="username" ng-model="username">
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">You must specify your correct username</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">
                <md-input-container>
                    <label style="font-size: large">Password</label>
                    <input ng-required="true" style="width: 400px" type="password" name="psw" ng-model="password" minlength="4">
                    <div ng-messages="loginForm.psw.$error">
                        <div ng-message="required">You must specify your password</div>
                    </div>
                </md-input-container>
            </div>




            <div style=" padding-left: 20%; padding-top: 5%">
                <button style="width: 150px" ng-disabled="loginForm.$invalid" ng-click="loginAdmin()" type="button" class="btn btn-dark" style="text-align: center">Submit</button>
            </div>


        </form>
    </md-content>

</div>
</div>



