<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" >

        <div class="navbar-header">
            <a class="navbar-brand" ng-hide="user"  href="#!/"> TCS</a>
            <a class="navbar-brand" href="#!/homeCustomer"  ng-show="user">
                <i class="material-icons" style="padding-top: 10%">home</i>
            </a>

        </div>



        <ul class="nav navbar-nav navbar-right" >

            <div class="dropdown" ng-show="user">
                <md-button ><img src="img/tl.png" height="30px" width="30px"/></md-button>
                <div class="dropdown-content">
                    <a href="#!/createTrafficLight">New</a>
                    <a href="#!/showAllTrafficLights">Show All</a>
                </div>
            </div>

            <div class="dropdown" ng-show="user" >
                <md-button ><i ng-click="" class="material-icons" style="padding-top: 10%">person</i></md-button>
                <div class="dropdown-content" ng-model="utente">
                    <a href="">Profile</a>
                    <a href="">Modify Account</a>
                    <a ng-click="logout()">Sign out</a>
                </div>
            </div>




        </ul>
    </div>
</nav>

<div  ng-show="user" ng-cloak>


    <div class="jumbotron" style="opacity:0.7">

        <h1 class="display-4">Welcome {{user.username}}!</h1>
        <div >
        <p class="lead">From your admin profile you can manage the map</p>
        <hr class="my-4">
        <p>Want to change the map asset? Insert a new traffic light installation
        </p>
        </div>

        <div >
        <a class="btn btn-dark" ng-click="newTrafficLight()" role="button" style="color: white">Add Traffic Light</a>
        </div>

    </div>

</div>
