<md-dialog aria-label="Modify Semaphore">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #1d2124">
                <h2>Modify Semaphore</h2>
                <span flex></span>
                <md-button ng-click="cancel()" class="fa fa-close" style="color: white" >
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height  md-border-bottom>
                <md-tab label="Modify">
                    <md-content class="md-padding">
                        <form name="modifyForm" style="color: #1d2124">



                            <div layout="row">
                                <md-input-container flex="50">
                                    <label style="font-size: large">Intersection ID </label>
                                    <input ng-required="true" name="intersectionId" ng-model="intersectionId" >
                                    <div ng-messages="modifyForm.intersectionId.$error">
                                        <div ng-message="required">You must specify an intersection id.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="50">
                                    <label style="font-size: large">Semaphore ID</label>
                                    <input ng-required="true" name="semaphoreId" ng-model="semaphoreId">
                                    <div ng-messages="modifyForm.semaphoreId.$error">
                                        <div ng-message="required">You must specify a semaphore id.</div>
                                    </div>
                                </md-input-container>
                            </div>


                            <md-input-container class="md-block">
                                <label style="font-size: large">Green light duration</label>
                                <input name="greenDuration" ng-model="greenDuration" ng-required="true">
                                <div ng-messages="modifyForm.greenDuration.$error">
                                    <div ng-message="required">You must specify green light duration.</div>
                                </div>
                            </md-input-container>



                            <div align="center">
                                <button style="width:150px" ng-disabled="modifyForm.$invalid" ng-click="modifyTL()" type="button" class="btn btn-dark" style="text-align: center">Submit</button>
                            </div>
                        </form>

                    </md-content>
                </md-tab>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button >

            </md-button>

            <span flex></span>

            <md-button ng-click="answer('not useful')" style="margin-right:20px;" >
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
