<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" >

        <div class="navbar-header">
            <a class="navbar-brand" ng-hide="user"  href="#!/"> TCS</a>
            <a class="navbar-brand" href="#!/homeCustomer"  ng-show="user">
                <i class="material-icons" style="padding-top: 10%">home</i>
            </a>

        </div>



        <ul class="nav navbar-nav navbar-right" >

            <div class="dropdown" ng-show="user">
                <md-button ><img src="img/tl.png" height="30px" width="30px"/></md-button>
                <div class="dropdown-content">
                    <a href="#!/createTrafficLight">New</a>
                    <a href="#!/showAllTrafficLights">Show All</a>
                </div>
            </div>

            <div class="dropdown" ng-show="user" >
                <md-button ><i ng-click="" class="material-icons" style="padding-top: 10%">person</i></md-button>
                <div class="dropdown-content" ng-model="utente">
                    <a href="">Profile</a>
                    <a href="">Modify Account</a>
                    <a ng-controller="ctrlCust" value="logout" ng-click="logout()">Sign out</a>
                </div>
            </div>




        </ul>
    </div>
</nav>
<body>


<form name="showAllTlForm">
    <div layout="column" style="text-align: center;color:black;padding-top: 3%;padding-left: 3%;padding-right: 3%"  >


        <div >
        <table class="table table-light" style="width: 100%">
            <thead style="display: table; width: calc(100% - 17px)">
                <tr style="text-align: center; display: table ; width: 100%">
                    <th ></th>
                    <th ></th>
                    <th ><h2 style="color:black">All Traffic Lights</h2></th>
                    <th ></th>
                    <th ></th>

                </tr>
                <tr style="text-align: center; display: table ; width: 100%">
                    <th style="width:20%"> Semaphore ID </th>
                    <th style="width:20%"> Latitudine</th>
                    <th style="width:20%"> Longitudine</th>

                    <th></th>
                    <th style="width:20%"> </th>
                </tr>
            </thead>
            <tbody style="display: block; overflow-y: scroll; max-height: 400px">
            <tr ng-repeat = "x in records" style="text-align: center; display: table ; width: 100%">
           <!-- <tr  style="text-align: center; display: table ; width: 100%">-->
                    <td style="width:20%"> {{x.semaphoreId}} </td>
                    <td style="width:20%"> {{x.semaphoreLatitude}} </td>
                    <td style="width:20%"> {{x.semaphoreLongitude}}</td>
                    <td></td>


                    <td style="width:20%">

                        <button  class="btn btn-light"  ><i ng-click="showDetails(2,x.id)" class="material-icons" style="padding-top: 10%">search</i></button>
                        <button  class="btn btn-light"  ><i ng-click="deleteTrafficLight(x.id)" class="material-icons" style="padding-top: 10%">delete</i></button>
                        <button  class="btn btn-light"  ><i ng-click="showDetails(1,x.id)" class="material-icons" style="padding-top: 10%">build</i></button>

                    </td>





                </tr>
            </tbody>

        </table>

        </div>
    </div>
</form>

</body>